# The plan and why

1. The plan is to develop + test a wide range of python functions and pack them into a python module to speed up and enhance EDA and data preprocessing processes in data analysis/science pipeline
2. Idea came up of repetitive actions while doing EDA and data preprocessing in my investigations
3. The current jupyter file will be used to develop, test and generate ideas, later take them to .py file

# Libraries

In [1]:
import seaborn as sns
import pandas as pd
import matplotlib.pyplot as plt
from functions import summary as sm

# Data load

In [2]:
df = sns.load_dataset("mpg")
sm.head_info(df, 5)

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin,name
0,18.0,8,307.0,130.0,3504,12.0,70,usa,chevrolet chevelle malibu
1,15.0,8,350.0,165.0,3693,11.5,70,usa,buick skylark 320
2,18.0,8,318.0,150.0,3436,11.0,70,usa,plymouth satellite
3,16.0,8,304.0,150.0,3433,12.0,70,usa,amc rebel sst
4,17.0,8,302.0,140.0,3449,10.5,70,usa,ford torino

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 398 entries, 0 to 397
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   mpg           398 non-null    float64
 1   cylinders     398 non-null    int64
 2   displacement  398 non-null    float64
 3   horsepower    392 non-null    float64
 4   weight        398 non-null    int64
 5   acceleration  398 non-null    float64
 6   model_year    398 non-null    int64
 7   origin        398 non-null    object
 8   name          398 non-null    object
dtypes: float64(4), int64(3), object(2)
memory usage: 28.1+ KB

In [26]:
from importlib import reload
reload(sm)

In [27]:
sm.full_summary(df)

 ---Head---

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin,name
0,18.0,8,307.0,130.0,3504,12.0,70,usa,chevrolet chevelle malibu
1,15.0,8,350.0,165.0,3693,11.5,70,usa,buick skylark 320
2,18.0,8,318.0,150.0,3436,11.0,70,usa,plymouth satellite
3,16.0,8,304.0,150.0,3433,12.0,70,usa,amc rebel sst
4,17.0,8,302.0,140.0,3449,10.5,70,usa,ford torino

 ---Info---
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 398 entries, 0 to 397
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   mpg           398 non-null    float64
 1   cylinders     398 non-null    int64
 2   displacement  398 non-null    float64
 3   horsepower    392 non-null    float64
 4   weight        398 non-null    int64
 5   acceleration  398 non-null    float64
 6   model_year    398 non-null    int64
 7   origin        398 non-null    object
 8   name          398 non-null    object
dtypes: float64(4), int64(3), object(2)
memory usage: 28.1+ KB
None

 ---Descriptive Stats---

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year
count,398.000000,398.000000,398.000000,392.000000,398.000000,398.000000,398.000000
mean,23.514573,5.454774,193.425879,104.469388,2970.424623,15.568090,76.010050
std,7.815984,1.701004,104.269838,38.491160,846.841774,2.757689,3.697627
min,9.000000,3.000000,68.000000,46.000000,1613.000000,8.000000,70.000000
25%,17.500000,4.000000,104.250000,75.000000,2223.750000,13.825000,73.000000
50%,23.000000,4.000000,148.500000,93.500000,2803.500000,15.500000,76.000000
75%,29.000000,8.000000,262.000000,126.000000,3608.000000,17.175000,79.000000
max,46.600000,8.000000,455.000000,230.000000,5140.000000,24.800000,82.000000

 ---Column Overview---

                dtype  unique_values_count
weight          int64                  351
name           object                  305
mpg           float64                  129
acceleration  float64                   95
horsepower    float64                   93
displacement  float64                   82
model_year      int64                   13
cylinders       int64                    5
origin         object                    3

 ---Shape---

{'rows': 398,
 'columns': 9,
 'total_size': 3582,
 'column_names': ['mpg',
  'cylinders',
  'displacement',
  'horsepower',
  'weight',
  'acceleration',
  'model_year',
  'origin',
  'name'],
 'missing_values_number': np.int64(6),
 'duplicated_rows': np.int64(0)}

 ---Missing Summary---

            missing_count  missing_ratio    dtype
horsepower              6       1.507538  float64

 ---Top Values Summary---

          usa  japan  europe  ford pinto  toyota corolla  ford maverick
origin  249.0   79.0    70.0         NaN             NaN            NaN
name      NaN    NaN     NaN         6.0             5.0            5.0

 ---Duplicate Rows---

'0 rows'

 ---Outliers Summary---

              outlier_count
horsepower               10
acceleration              7
mpg                       1
displacement              0
cylinders                 0
weight                    0
model_year                0