# The plan and why

1. The plan is to develop + test a wide range of python functions and pack them into a python module to speed up and enhance EDA and data preprocessing processes in data analysis/science pipeline
2. Idea came up of repetitive actions while doing EDA and data preprocessing in my investigations
3. The current jupyter file will be used to develop, test and generate ideas, later take them to .py file

# Libraries

In [12]:
import seaborn as sns
import pandas as pd
import matplotlib.pyplot as plt
from functions import dfInspector as di

# Data load

In [13]:
df = sns.load_dataset("mpg")
di.head_info(df)

INFO:functions.dfInspector:Displaying head with n=5

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin,name
0,18.0,8,307.0,130.0,3504,12.0,70,usa,chevrolet chevelle malibu
1,15.0,8,350.0,165.0,3693,11.5,70,usa,buick skylark 320
2,18.0,8,318.0,150.0,3436,11.0,70,usa,plymouth satellite
3,16.0,8,304.0,150.0,3433,12.0,70,usa,amc rebel sst
4,17.0,8,302.0,140.0,3449,10.5,70,usa,ford torino

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 398 entries, 0 to 397
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   mpg           398 non-null    float64
 1   cylinders     398 non-null    int64
 2   displacement  398 non-null    float64
 3   horsepower    392 non-null    float64
 4   weight        398 non-null    int64
 5   acceleration  398 non-null    float64
 6   model_year    398 non-null    int64
 7   origin        398 non-null    object
 8   name          398 non-null    object
dtypes: float64(4), int64(3), object(2)
memory usage: 28.1+ KB